# Byte-compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_aml_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.venv
.env


# IDE settings
.idea
.vscode
*.code-workspace
.code-workspace


# Logs
src/logs.csv
debug.log

# Packages
src/vendor

# Misc
src/scripts/commands.sh
.fuse*
df_cache.pkl
.DS_Store
